@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap");

// ========================================== colors ======================================//

// primary

$blueishGreen: hsl(192, 37%, 48%);
$darkPurpleIsh: hsl(268, 34%, 53%);
$blackIsh: hsl(240, 21%, 20%);
$lightGrey: hsl(240, 10%, 57%);

// Neutral

$lightBlueIshGreen: hsl(192, 90%, 77%);
$lightPurple: hsl(268, 100%, 86%);
$white: hsl(0, 0%, 98%);

// ========================================= Typography =====================================
$FamilyRedHat: "Red Hat Display";
$WeightsNormal: 500;
$WeightsBold: 700;
$WeightsLargeBold: 900;
